
.eventCard {
  border: 1px solid #aaa;
  padding: 20px;
  margin: 20px;
}

input:focus {
  outline: 2px solid #00f;
}

.hidden {
  visibility: hidden;
}

.not-displayed {
  display: none;
}
